In [1]:
import pandas as pd
data = pd.read_csv("veriler.csv")
df = data.copy()
df.head()

  ulke  boy  kilo  yas cinsiyet
0   tr  130    30   10        e
1   tr  125    36   11        e
2   tr  135    34   10        k
3   tr  133    30    9        k
4   tr  129    38   12        e

In [3]:
df = pd.get_dummies(df,columns=["ulke"])
df.head()

   boy  kilo  yas cinsiyet  ulke_fr  ulke_tr  ulke_us
0  130    30   10        e        0        1        0
1  125    36   11        e        0        1        0
2  135    34   10        k        0        1        0
3  133    30    9        k        0        1        0
4  129    38   12        e        0        1        0

In [4]:
X = df.drop("cinsiyet",axis=1)
y = df[["cinsiyet"]]

In [7]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [8]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
svc = SVC(kernel="poly")
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.34,random_state=42)
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [14]:
from sklearn.metrics import confusion_matrix,accuracy_score
model = svc.fit(X_train,y_train)
train_predict = model.predict(X_train)
test_predict = model.predict(X_test)

cm_train = confusion_matrix(y_train,train_predict)
cm_test = confusion_matrix(y_test,test_predict)

acs_train = accuracy_score(y_train,train_predict)
acs_test = accuracy_score(y_test,test_predict)

print("con_train","\t",cm_train)
print("con_test",cm_test)
print("acs_train",acs_train)
print("acs_test",acs_test)

con_train 	 [[6 1]
 [0 7]]
con_test [[2 2]
 [2 2]]
acs_train 0.9285714285714286
acs_test 0.5

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)