In [2]:
import pandas as pd
data = pd.read_csv("veriler.csv")
df = data.copy()
df.head()

  ulke  boy  kilo  yas cinsiyet
0   tr  130    30   10        e
1   tr  125    36   11        e
2   tr  135    34   10        k
3   tr  133    30    9        k
4   tr  129    38   12        e

In [14]:
X = df.drop(["ulke","cinsiyet"],axis=1)
y = df[["cinsiyet"]]

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=42)
x_train

    boy  kilo  yas
3   133    30    9
4   129    38   12
17  187    80   27
12  160    58   39
18  183    88   28
16  193    90   23
2   135    34   10
9   185   105   33
21  166    56   42
7   175    90   35
10  165    55   27
14  167    62   55
19  159    40   29
6   190    80   25

In [24]:
X_train = sc.fit_transform(x_train)
X_test = sc.transform(x_test)

In [26]:
X_train

array([[-1.60676649, -1.4892569 , -1.56385905],
       [-1.80026956, -1.14605366, -1.31877666],
       [ 1.00552484,  0.65576333, -0.09336472],
       [-0.30062083, -0.28804557,  0.88696484],
       [ 0.81202178,  0.99896656, -0.01167059],
       [ 1.29577943,  1.08476737, -0.42014124],
       [-1.51001496, -1.31765528, -1.48216492],
       [ 0.90877331,  1.72827344,  0.39680006],
       [-0.01036624, -0.37384638,  1.13204722],
       [ 0.42501565,  1.08476737,  0.56018832],
       [-0.058742  , -0.41674679, -0.09336472],
       [ 0.03800953, -0.11644396,  2.19407091],
       [-0.34899659, -1.06025286,  0.07002354],
       [ 1.15065213,  0.65576333, -0.25675298]])

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
logr = LogisticRegression(random_state=42)
model = logr.fit(X_train,y_train)
train_predict = model.predict(X_train)
test_predict = model.predict(X_test)
con_train = confusion_matrix(y_train,train_predict)
con_test = confusion_matrix(y_test,test_predict)
print("con_train","\n",con_train)
print("-----------------")
print("con_test","\n",con_test)

con_train
 [[6 1]
 [0 7]]
-----------------
con_test
 [[1 3]
 [1 3]]

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)